.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode/
.DS_Store
__pycache__/
*.pyc
.idea
.devcontainer
*.parquet
models/xG/data/
data/gbgs/basic/skaters_*.csv
data/gbgs/basic/goalies_*.csv
data/gbgs/basic/teams_*.csv
data/sbss/skaters_*.csv
data/sbss/goalies_*.csv
