data/gbgs/basic/skaters_*.csv filter=lfs diff=lfs merge=lfs -text
data/gbgs/basic/goalies_*.csv filter=lfs diff=lfs merge=lfs -text
data/gbgs/basic/teams_*.csv filter=lfs diff=lfs merge=lfs -text
data/sbss/skaters_*.csv filter=lfs diff=lfs merge=lfs -text
data/sbss/goalies_*.csv filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
models/**/*.csv filter=lfs diff=lfs merge=lfs -text
data/sbss/*.csv filter=lfs diff=lfs merge=lfs -text
