.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode/
.DS_Store
__pycache__/
*.pyc
.idea
.devcontainer
*.parquet
models/xG/data/
models/contracts/legacy/
models/**/*.rds
models/**/*.csv
models/**/*.parquet
scripts/**/*.rds
scripts/**/*.csv
scripts/**/*.parquet
